#info
  %h3 Это инструмент для чтения иностранных фидов

  %p Быстрый пример
  %p
    %a{:class => "feed-link", :href => "http://feeds2.feedburner.com/noupe"} http://feeds2.feedburner.com/noupe
  %p
    %a{:class => "feed-link", :href => "http://feedproxy.google.com/RubyInside/"} http://feedproxy.google.com/RubyInside/
  %p
    %a{:class => "feed-link", :href => "http://feeds.feedburner.com/37signals/beMH"} http://feeds.feedburner.com/37signals/beMH
  %p
    %a{:class => "feed-link", :href => "http://feeds.feedburner.com/mootools-blog"} http://feeds.feedburner.com/mootools-blog



  %img{:src => "/2.gif", :alt => "Как это работает", :class => "home-img"}
#post_content
  #current_title
  #right_col