#current_title
#right_col
  %h3 Это инструмент для чтения иностранных фидов

  %p Быстрый пример
  %p
    %code http://feeds2.feedburner.com/noupe
  %p
    %code http://feedproxy.google.com/RubyInside/
  %p
    %code http://feeds.feedburner.com/37signals/beMH
    