!!! strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title ForeFeed &mdash; зарубежные фиды легко!
    %meta{ "http-equiv" => "Content-type", :content => "text/html;charset=UTF-8" }

    = javascripts( |
      '/libs/*.js', |
      '/views/*.js', |
      "/http://www.google.com/jsapi?key=#{Store.google_key}", |
      '/application.js' )
    
    %link{css('application.css') }
    %meta{ :name => "verify-v1", :content => "Uzo5OfeHcrtPQkE4J2cHPoYNrk0ez/7aj8bi0mU1b70="}

  %body
