!!! strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title ForeFeed &mdash; зарубежные фиды легко!
    %meta{ "http-equiv" => "Content-type", :content => "text/html;charset=UTF-8" }

    %script{:src => 'http://ajax.googleapis.com/ajax/libs/mootools/1.2.3/mootools-yui-compressed.js', :type => 'text/javascript'}
    %script{javascript('mootools-1.2.3.1-more.js')}
    %script{:src => "http://www.google.com/jsapi?key=#{@google_key}", :type => 'text/javascript'}

    %script{javascript('functions.js')}
    %script{javascript('main2.js')}
    %link{css('main2.css') }
    %meta{ :name => "verify-v1", :content => "Uzo5OfeHcrtPQkE4J2cHPoYNrk0ez/7aj8bi0mU1b70="}

  %body
    %ul#menu
      %li
        %a{ :id => "menu_add" } +
      %li
        %a{ :id => "menu_login" } &rarr;0
      %li
        %a{ :id => "menu_user" } /me

    #page
      #inner
        #left_border
        #right_border
        #content
          = yield
          %hr.clear