#info
  %h3
    = "Предпочтения пользователя #{@user.name}"

  %ul
    - for feed in @feeds do
      %li
        %a{:href => feed.url, :class => "feed-link"}
          = feed.title
        =" (просмотров #{feed.count})"

#post_content
  #current_title
  #right_col

